<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>以下のリンクをクリックしてメールアドレスの認証を行ってください。</h1> 
    <%= @user.confirmation_token %>
  </body>
</html>
