version: 2.1
orbs:
  ruby: circleci/ruby@1.8.0

jobs:
  build:
    docker:
      - image: cimg/ruby:3.1.1
    working_directory: ~/fishare
    steps:
      - checkout:
          path: ~/fishare
      - ruby/install-deps
  test:
    docker:
      - image: cimg/ruby:3.1.1
      - image: circleci/postgres
        environment:
          DB_HOST: app_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      DB_HOST: "127.0.0.1"
      RAILS_ENV: test
    working_directory: ~/fishare
    steps:
      - checkout:
          path: ~/fishare
      - ruby/install-deps
      - run:
          name: Create Database
          command: bundle exec rails db:create RAILS_ENV=test
      - run:
          name: Database setup
          command: bundle exec rails db:migrate
      - run:
          name: Test
          command: bundle exec rspec spec

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
